body {
    font-family: 'Raleway', sans-serif;
}

#search-form input[type="text"] {
    display: inline-block;
    font-size: 16px;
    padding: 8px 12px;
    width: 30%;
}

#search-form input[type="submit"],
#toggle-temp button {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

#display {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.current-main {
    font-size: 26px;
}


table {
    margin: 0 auto;
}

td {
    padding: 10px 15px;
}

#toggle-temp {
    position: absolute;
    top: 10px;
    right: 10px;
}