* {
    text-align: center;
}

.display {
    background: rgba(255,255,255, 0.9);
    padding: 10px 15px;
    margin-top: 25px;
    height: 20%;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 24px;
}