body {
    font-family: 'Raleway', sans-serif;
}

#search-form input[type="text"] {
    display: inline-block;
    font-size: 16px;
    padding: 8px 12px;
    width: 30%;
}

#display {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 15px 0;
}

.current-main {
    font-size: 26px;
}


table {
    margin: 0 auto;
}

td {
    padding: 10px 15px;
}

#toggle-temp {
    position: absolute;
    top: 10px;
    right: 10px;
}

#search-form {
    width: 50%;
}

input[type="submit"], #toggle-temp button {
    background: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
}